{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block control_panel %}
<div class="o_control_panel">
    <div class="breadcrumb"><a href="{{ url_for('dashboard') }}">Accueil</a> / <a href="{{ url_for('list_commissions') }}">Commissions</a> / <span>{{ title }}</span></div>
    <h1 class="cp-title">{{ title }}</h1>
</div>
{% endblock %}
{% block content %}
<div class="o_form_sheet">
    <div class="o_form_header"><h4 style="margin:0;font-weight:600;">{{ title }}</h4></div>
    <div class="o_form_body">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-md-6"><div class="o_field"><label>{{ form.operation_type_id.label.text }}</label>{{ form.operation_type_id(class="form-select") }}</div></div>
                <div class="col-md-6"><div class="o_field"><label>{{ form.direction.label.text }}</label>{{ form.direction(class="form-select") }}</div></div>
            </div>
            <div class="row">
                <div class="col-md-6"><div class="o_field"><label>{{ form.percentage.label.text }}</label>{{ form.percentage(class="form-control", step="0.1") }}</div></div>
                <div class="col-md-6"><div class="o_field"><label>{{ form.fixed_amount.label.text }}</label>{{ form.fixed_amount(class="form-control", step="0.01") }}</div></div>
            </div>
            <div class="row">
                <div class="col-md-6"><div class="o_field"><label>{{ form.min_amount.label.text }}</label>{{ form.min_amount(class="form-control", step="0.01") }}</div></div>
                <div class="col-md-6"><div class="o_field"><label>{{ form.max_amount.label.text }}</label>{{ form.max_amount(class="form-control", step="0.01") }}</div></div>
            </div>
    </div>
    <div class="o_form_footer">
        <button type="submit" class="btn-o btn-o-primary"><i class="bi bi-check-lg"></i> Enregistrer</button>
        <a href="{{ url_for('list_commissions') }}" class="btn-o btn-o-secondary">Annuler</a>
    </div>
    </form>
</div>
{% endblock %}
