{% extends "base.html" %}
{% block title %}Mon Profil{% endblock %}
{% block control_panel %}
<div class="o_control_panel">
    <div class="breadcrumb"><a href="{{ url_for('dashboard') }}">Accueil</a> / <span>Mon Profil</span></div>
    <h1 class="cp-title">Mon Profil</h1>
</div>
{% endblock %}
{% block content %}
<div class="o_form_sheet">
    <div class="o_form_header"><h4 style="margin:0;font-weight:600;">Informations personnelles</h4></div>
    <div class="o_form_body">
        <form method="POST">
            <div class="row">
                <div class="col-md-6"><div class="o_field"><label>Nom d'utilisateur</label><input class="form-control" value="{{ user.username }}" readonly></div></div>
                <div class="col-md-6"><div class="o_field"><label>Nom complet</label><input class="form-control" name="full_name" value="{{ user.full_name }}" required></div></div>
            </div>
            <div class="row">
                <div class="col-md-6"><div class="o_field"><label>Email</label><input class="form-control" name="email" value="{{ user.email or '' }}"></div></div>
                <div class="col-md-6"><div class="o_field"><label>Telephone</label><input class="form-control" name="phone" value="{{ user.phone or '' }}"></div></div>
            </div>
            <div class="row">
                <div class="col-md-4"><div class="o_field"><label>Role</label><input class="form-control" value="{{ user.role|replace('_', ' ')|title }}" readonly></div></div>
                <div class="col-md-4"><div class="o_field"><label>Agence</label><input class="form-control" value="{{ user.agency.name if user.agency else 'Aucune' }}" readonly></div></div>
                <div class="col-md-4"><div class="o_field"><label>Nouveau mot de passe</label><input class="form-control" name="password" type="password" placeholder="Laisser vide pour conserver"></div></div>
            </div>
    </div>
    <div class="o_form_footer">
        <button type="submit" class="btn-o btn-o-primary"><i class="bi bi-check-lg"></i> Enregistrer</button>
        <a href="{{ url_for('dashboard') }}" class="btn-o btn-o-secondary">Annuler</a>
    </div>
        </form>
</div>
{% endblock %}
